<section>
  <div class="check-box"><input type="checkbox" /></div>
  <div>
    <a href="/tasks/<%= task.id %>"><h3><%= task.title %></h3></a>
    <h4><%= print_nice_date(task.due_date) %> </h4>
  </div>
</section>
