<section>
  <h1>Here is the start of an app.</h1>
  <h2>You can make it into something great.</h2>
  <h3>With all these different headings</h3>
  <p>Here is a paragrap that you can style to your liking and make fantastic!</p>
</section>