<!DOCTYPE html>
<html lang="en">
<head>

  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/drop-in.css">
  <link rel="stylesheet" href="/css/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title>My Great App</title>
</head>
<body>
  <header>
    <nav>
     <ul>
      <li><a href="/">Home</a></li>
      <% if logged_in? %>
      <li><a href="#">New Thing</a></li>
      <li><a href="/logout">Logout</a></li>
      <% else %>
      <li><a href="/users/new">Sign Up</a></li>
      <li><a href="/login">Login</a></li>
      <% end %>
    </ul>
    </nav>
  </header>
  <main>
    <%= yield %>
  </main>
  <footer> Here is the footer </footer>
</body>
</html>
